<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApp1.Properties.Settings.ConnectionString" connectionString="Data Source=DESKTOP-U24GGMA\SQLEXPRESS;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="WindowsFormsApp1.Properties.Settings.PRIMERTPConnectionString" connectionString="Data Source=DESKTOP-U24GGMA\SQLEXPRESS;Initial Catalog=PRIMERTP;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="WindowsFormsApp1.Properties.Settings.PRIMERTPConnectionString1" connectionString="Data Source=DESKTOP-U24GGMA\SQLEXPRESS;Initial Catalog=PRIMERTP;Persist Security Info=True;User ID=maxilopez;Password=1234" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
</configuration>
